<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title class="custom-title">Expenses</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="expense-container">
    <ion-item class="custom-item">
      <ion-label position="floating">Category Type</ion-label>
      <ion-select [(ngModel)]="category_id" interface="popover">
        <ion-select-option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="description" type="text"></ion-input>
    </ion-item>
    
    <ion-item class="custom-item">
      <ion-label position="floating">Amount</ion-label>
      <ion-input [(ngModel)]="amount" type="number"></ion-input>
    </ion-item>

  </div>
</ion-content>
<ion-footer class="custom-footer">
  <ion-button expand="block" (click)="saveExp()" class="custom-save-button">
    <ion-icon slot="start" name="wallet-outline"></ion-icon>
    Save Expenses
  </ion-button>
</ion-footer>
