<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login v1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>
<ion-footer>
  <ion-card class="login-container">
    <ion-card-header *ngIf="pin">
      <ion-card-title class="ion-text-center">{{username}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
    <ion-item *ngIf="!pin">
      <ion-label position="floating">Email</ion-label>
      <ion-input #emailInput  type="email" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item *ngIf="!pin">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    
    <ion-item  slot="end" lines="none"  *ngIf="pin">
      <ng-otp-input 
        (onInputChange)="onOtpComplete($event)"
        [config]="{length:4, allowNumbersOnly:true}">
      </ng-otp-input>
    </ion-item>
    
    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
    
    <div>
      <ion-button fill="clear" routerLink="/register">Don't have an account? Register</ion-button>
    </div>
  </form>
    </ion-card-content>
    </ion-card>
</ion-footer>
